body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}
.container {
    margin-top: 50px;
}
.card {
    padding: 20px;
}
.preview {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 20px;
}
