* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /* height: 2000px; */
    font-family: "Poppins", sans-serif !important;
}

/* navbar design */

/* jumbotron design */
.jumbotron {
  position: relative;
  padding: 0;
}

.jumbotron .container {
  padding: 70px 0;
}

.jumbotron-content {
  position: relative;
  background: url('../img/bg-login.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  color: white;
  z-index: 2;
}

.container .jumbotron-heading{
  margin: 150px 0 10px 0;
}

.search-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}
.form-control {
    color: #333;
    padding-left: 40px;
    padding-right: 100px;
    border-radius: 30px;
    font-size: 1rem;
    height: 50px;
}

.form-control::placeholder{
    color: #aaa;
}

button.btn-search {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    border: none;
    background-color: black;
    padding: 0 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn-search:hover{
    background-color: #2b2b2b;
    color: white;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}


.image-container {
  margin-top: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* caraousel design */
.carousel-item {
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item img {
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    text-align: center;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-color: black;
  }
  .carousel-control-next, .carousel-control-prev{
    width: 5% !important;
  }